<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="/resource/layui/css/layui.css">
    <link rel="stylesheet" href="/resource/css/common.css">
    <link rel="stylesheet" href="/resource/layui/extend/dtree.css">
    <link rel="stylesheet" href="/resource/layui/extend/font/dtreefont.css">
    <link rel="stylesheet" href="/resource/layui/extend/formSelects-v4.css">
</head>
<body>
<div class="yadmin-body animated fadeIn">
    <form action="" method="post" class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <label for="username" class="layui-form-label">
                用户名
            </label>
            <div class="layui-input-block">
                <input type="text" id="userName" name="userName" value=""
                       lay-verify="required" lay-vertype="tips"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="email" class="layui-form-label">
                邮箱
            </label>
            <div class="layui-input-block">
                <input type="text" id="email" name="email" value=""
                       lay-verify="required|email" lay-vertype="tips"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="iphone" class="layui-form-label">
                手机
            </label>
            <div class="layui-input-block">
                <input type="text" id="iphone" name="iphone" value=""
                       lay-verify="required|phone" lay-vertype="tips"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="password" class="layui-form-label">
                用户密码
            </label>
            <div class="layui-input-block">
                <input type="password" id="password" name="plainPassword"
                       lay-verify="required|pass" lay-vertype="tips"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="iphone" class="layui-form-label">
                姓名
            </label>
            <div class="layui-input-block">
                <input type="text" id="realName" name="realName" value=""
                       lay-verify="required" lay-vertype="tips"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" pane="">
            <label class="layui-form-label">
                性别
            </label>
            <div class="layui-input-block">
                <input type="radio" name="sex" value="男" title="男" checked="checked">
                <input type="radio" name="sex" value="女" title="女">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="address" class="layui-form-label">
                联系地址
            </label>
            <div class="layui-input-block">
                <input type="text" id="address" name="address" value="" lay-vertype="tips"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                角色
            </label>
            <div class="layui-input-block">
                <select name="roleId" lay-verify="required" lay-vertype="tips">
                    <option th:each="item:${roleList}" th:text="${item.role}" th:value="${item.id}"></option>
                </select>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block" style="margin-left:0;text-align:center;">
                <input type="hidden" id="deptId" name="deptId" value="">
                <input type="hidden" id="userId" name="userId" value="">
                <button class="layui-btn layui-btn-normal btn-w100" lay-submit="" lay-filter="add">增加</button>
            </div>
        </div>
    </form>
</div>

<script src="/resource/layui/layui.js"></script>
<script src="/resource/js/common.js"></script>

<script>
    layui.config({
        base: '/resource/layui/extend/'
    }).extend({
        formSelects: 'formSelects-v4'
    }).use(['form', 'layer', 'formSelects', 'dtree'], function () {
        $ = layui.jquery;
        var form = layui.form
            , layer = layui.layer;
        form.verify({
            pass: [/^[\S]{6,12}$/, '密码必须6到12位，且不能出现空格']
        });
        form.on('submit(add)', function (form) {
            form.field.status = "1"
            $.ajax({
                url: '/user/user.do',
                type: 'post',
                data: form.field,
                dataType: 'json',
                async: false,
                success: function (result) {
                    if (!result.status) {
                        parent.layer.msg(result.msg, {time: 2000});
                        return false;
                    } else {
                        parent.layer.msg("新增成功!", {time: 1000});
                        parent.layer.close(parent.layer.getFrameIndex(window.name));
                        parent.layui.table.reload('user-table', {});
                    }
                }

            });
        });
    });
</script>

</body>
</html>