<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="/resource/layui/css/layui.css">
    <link rel="stylesheet" href="/resource/css/common.css">
    <link rel="stylesheet" href="/resource/layui/extend/dtree.css">
    <link rel="stylesheet" href="/resource/layui/extend/font/dtreefont.css">
    <!-- 图标 -->
    <link rel="stylesheet" href="/resource/remixicon/fonts/remixicon.css">
</head>
<body>
<div class="yadmin-body animated fadeIn">

    <form class="layui-form yadmin-search-area input">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label for="userName" class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                    <input type="text" name="userName" autocomplete="off"
                           id="userName" class="layui-input">
                </div>

                <button lay-submit="" lay-filter="search" class="layui-btn layui-btn-sm layui-btn-primary table-action">
                    <i class="layui-icon layui-icon-search"></i>
                </button>
            </div>
        </div>
    </form>

    <table class="layui-hide" id="log-table"></table>
</div>
<script type="text/html" id="toolbar">
    <button type="button" class="layui-btn layui-btn-xs layui-btn-danger" lay-event="delAll">
        <i class="layui-icon layui-icon-delete"></i>
        删除选中
    </button>

</script>


<script type="text/html" id="column-toolbar">
    <button type="button" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">
        <i class="layui-icon layui-icon-delete" title="删除"></i>
        删除
    </button>

</script>

<script src="/resource/js/jquery.js"></script>
<script src="/resource/layui/layui.js"></script>
<script src="/resource/js/common.js"></script>

<script>
    layui.config({
        base: '/resource/layui/extend/'
    }).use(['table', 'element', 'dtree', 'form', 'tablePlug'], function () {
        var table = layui.table;
        var $ = layui.$;
        var dtree = layui.dtree;
        var form = layui.form;
        var tablePlug = layui.tablePlug;
        tablePlug.smartReload.enable(true);
        form.on('submit(search)', function (form) {
            table.reload('log-table', {
                where: form.field
            });
            return false;
        });
        table.render({
            elem: '#log-table',
            url: '/log/log.do',
            cellMinWidth: 80,
            page: true,
            toolbar: '#toolbar',
            smartReloadModel: true,
            cols: [
                [
                    {type: 'checkbox'},
                    {field: 'userName', title: '操作用户', width: 120},
                    {field: 'operation', title: '操作内容', width: 120},
                    {field: 'time', title: '操作时间', minWidth: 200},
                    {title: '操作', fixed: 'right', width: 200, align: 'center', toolbar: '#column-toolbar'}
                ]
            ]
        });
        table.on('toolbar', function (obj) {
            var event = obj.event;
            var datas = table.checkStatus("log-table").data;
            if (event === 'delAll') {
                if (datas.length == 0) {
                    layer.alert("请选择数据后再进行操作！");
                } else {
                    var ids = new Array();
                    for (d in datas) {
                        ids.push(datas[d].id);
                    }
                    layer.confirm("确定删除吗?", {icon: 3, title: '提示'},
                        function (index) {// 确定回调
                            $.ajax({
                                url: "/log/log.do",
                                type: "post",
                                data: {_method: "DELETE", "ids": ids.toString()},
                                dataType: "json",
                                success: function (result) {
                                    if (!result.status) {
                                        layer.msg(result.msg, {time: 2000});
                                        return false;
                                    }
                                    parent.layer.msg("删除成功", {icon: 6});
                                    layui.table.reload('log-table');
                                }
                            });
                            layer.close(index);
                        }, function (index) {//取消回调
                            layer.close(index);
                        }
                    );
                }
            }
        });

        table.on('tool', function (obj) {
            var data = obj.data;
            var event = obj.event;
            if (event === 'del') {
                layer.confirm("确定删除吗?", {icon: 3, title: '提示'},
                    function (index) {// 确定回调
                        $.ajax({
                            url: "/log/log.do",
                            type: "post",
                            data: {_method: "DELETE", "ids": data.id},
                            dataType: "json",
                            success: function (result) {
                                if (!result.status) {
                                    layer.msg(result.msg, {time: 2000});
                                    return false;
                                }
                                parent.layer.msg("删除成功", {icon: 6});
                                layui.table.reload('log-table');
                            }
                        });
                        layer.close(index);
                    }, function (index) {//取消回调
                        layer.close(index);
                    }
                );
            }
        });
    });
</script>

</body>
</html>