<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${wbeParameter.name}">Document</title>
    <link rel="icon" href="/resource/shopping.png">
    <link rel="stylesheet" type="text/css" href="/resource/css/main.css">
    <link rel="stylesheet" type="text/css" href="/resource/css/userCenter.css">
    <link rel="stylesheet" href="/resource/layui/css/layui.css">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
</head>
<style>
    .layui-table-view .layui-table[lay-skin=line] {
        border-width: 0 0 0 0 !important;
    }
</style>
<body>
<div th:replace="proscenium/public :: head"></div>
<div class="layui-container userpublic house-usercol content content-nav-base">
    <div class="main-nav" th:replace="proscenium/public :: main-nav"></div>
    <div class="layui-row layui-col-space20">
        <p class="layui-hide-xs title">首页 &gt; <span>我的收藏</span></p>
        <div class="layui-col-sm2">
            <ul class="user-list">
                <li><a href="/userCenter">个人中心</a></li>
                <li><a href="/addProductPage">发布车辆</a></li>
                <li><a href="/myProductPage">我的车辆</a></li>
                <li><a href="/myOrderPage">我的出租</a></li>
                <li><a href="/myRefundPage">归还处理</a></li>
                <li><a href="/address">租赁人信息</a></li>
                <li th:if="${payType eq'balance'}"><a href="/wallet">我的钱包</a></li>
                <li class="active"><a href="/collectPage">我的收藏</a></li>
                <li><a href="/browsePage">浏览记录</a></li>
                <li><a href="/safety">安全设置</a></li>
                <li><a href="/editUser">个人资料</a></li>
                <li><a href="/leavePage">我的上报</a></li>

            </ul>
        </div>
        <div class="layui-col-sm10">
            <div class="layui-tab layui-tab-brief">
                <ul class="layui-tab-title">
                    <li class="layui-this">我的收藏</li>
                </ul>
                <div class="layui-tab-content layui-row layui-col-space30">
                    <div class="layui-col-xs3" th:each="collect:${collectList}">
                        <div class="goods">
                            <a th:href="${'productDetails?id='+collect.productId}">
                                <img th:src="${collect.productImg}" style="height: 201px;object-fit: cover;">
                                <p th:text="${collect.productName}">可爱小瓷杯子</p>
                            </a>
                            <p class="price" th:text="${'￥'+collect.productPrice}">￥200</p>
                            <span class="del" th:id="${collect.productId}">&times;</span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer" th:replace="proscenium/public :: footer"></div>
<script type="text/javascript" src="/resource/layui/layui.js"></script>
<script type="text/javascript">
    layui.config({
        base: '/resource/js/' //你存放新模块的目录，注意，不是layui的模块目录
    }).use(['table', 'jquery', 'element'], function () {
        var mm = layui.mm,
            $ = layui.$,
            table = layui.table;
        $('.del').on('click', function () {
            var productId = $(this).attr('id');
            $.ajax({
                url: '/product/collect.do',
                type: 'post',
                data: {'productId': productId},
                dataType: 'json',
                async: false,
                success: function (result) {
                    if (!result.status) {
                        layer.msg(result.msg, {icon: 5});
                        return false;
                    } else {
                        layer.msg(result.msg, {
                            icon: 6, time: 500, end: function () {
                                location.reload()
                            }
                        })
                    }
                }
            });
        })
    });
</script>
</body>
</html>