<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${wbeParameter.name}">Document</title>
    <link rel="icon" href="/resource/shopping.png">
    <link rel="stylesheet" type="text/css" href="/resource/css/main.css">
    <!-- layui样式 -->
    <link rel="stylesheet" href="/resource/layui/css/layui.css">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
</head>
<body>
<div th:replace="proscenium/public :: head"></div>
<div class="content content-nav-base commodity-content">
    <div class="main-nav" th:replace="proscenium/public :: main-nav"></div>
    <div class="commod-cont-wrap">
        <div class="commod-cont w1200 layui-clear">
            <div class="right-cont-wrap">
                <div class="right-cont">
                    <div class="prod-number" style="padding: 0px; ">
                        <div class="layui-row layui-col-space15">
                            <div class="layui-col-md12" style="width: 94%">
                                <div class="layui-card">
                                    <div class="layui-card-header">搜索 "<span th:text="${productName}"></span>" 的结果:
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cont-list layui-clear" id="list-cont">
                        <div class="item" th:each="product:${productList}">
                            <div class="img">
                                <a th:href="${'/productDetails?id=' + product.id }"><img
                                        style="width: 280px;height: 280px;object-fit: cover;"
                                        th:src="${product.img}"></a>
                            </div>
                            <div class="text">
                                <p style="overflow: hidden; display: -webkit-box;   -webkit-line-clamp: 1; -webkit-box-orient: vertical;"
                                   class="title" th:text="${product.name}"></p>
                                <p class="price">
                                    <span class="pri" th:text="${'￥'+product.disPrice}"></span>

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer" th:replace="proscenium/public :: footer"></div>
<script type="text/javascript" src="/resource/layui/layui.js"></script>
<script>
    layui.config({
        base: '/resource/js/' //你存放新模块的目录，注意，不是layui的模块目录
    }).use(['mm', 'laypage', 'jquery', 'layer'], function () {
        var laypage = layui.laypage, $ = layui.$, layer = layui.layer,
            mm = layui.mm;


    });
</script>


</body>
</html>