<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${wbeParameter.name}">Document</title>
    <link rel="icon" href="/resource/shopping.png">
    <link rel="stylesheet" type="text/css" href="/resource/css/main.css">
    <link rel="stylesheet" type="text/css" href="/resource/css/userCenter.css">
    <link rel="stylesheet" href="/resource/layui/css/layui.css">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
</head>
<style>
    .layui-form-radio > i:hover, .layui-form-radioed > i {
        color: #da697d !important;
    }</style>
<body>
<div th:replace="proscenium/public :: head"></div>
<div class="layui-container userpublic house-userPer content content-nav-base">
    <div class="main-nav" th:replace="proscenium/public :: main-nav"></div>
    <div class="layui-row layui-col-space20">
        <p class="layui-hide-xs title">首页 &gt; <span>安全设置</span></p>
        <div class="layui-col-sm2">
            <ul class="user-list">
                <li><a href="/userCenter">个人中心</a></li>
                <li><a href="/addProductPage">发布车辆</a></li>
                <li><a href="/myProductPage">我的车辆</a></li>
                <li><a href="/myOrderPage">我的出租</a></li>
                <li><a href="/myRefundPage">归还处理</a></li>
                <li><a href="/address">租赁人信息</a></li>
                <li class="active"><a href="/wallet">我的钱包</a></li>
                <li><a href="/collectPage">我的收藏</a></li>
                <li><a href="/browsePage">浏览记录</a></li>
                <li><a href="/safety">安全设置</a></li>
                <li><a href="/editUser">个人资料</a></li>
                <li><a href="/leavePage">我的上报</a></li>

            </ul>
        </div>
        <div class="layui-col-sm10">
            <div class="layui-form">
                <div class="layui-fluid">
                    <div class="layui-row layui-col-space15">
                        <div class="layui-col-md12">
                            <div class="layui-card">
                                <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                                    <div class="layui-tab-content">
                                        <div class="layui-tab-item layui-show">
                                            <div class="layui-card-body"
                                                 style="padding: 20px;">
                                                <div class="layui-form" lay-filter="">
                                                    <div class="layui-form-item">
                                                        <label class="layui-form-label">充值金额:</label>
                                                        <div class="layui-input-inline">
                                                            <input type="number" name="price"
                                                                   lay-verify="required|price" lay-vertype="tips"
                                                                   class="layui-input"></div>
                                                        <div class="layui-form-mid layui-word-aux"
                                                             th:text="${'余额:'+user.balance}"></div>
                                                    </div>
                                                    <div class="layui-form-item">
                                                        <label class="layui-form-label">密码:</label>
                                                        <div class="layui-input-inline">
                                                            <input type="password" name="newPas"
                                                                   lay-verify="required|pass" lay-verify="pass"
                                                                   lay-vertype="tips" autocomplete="off"
                                                                   id="LAY_password" class="layui-input">
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="foot" style="text-align: center">
                    <input hidden name="id" th:value="${user.id}">
                    <button type="button" class="layui-btn layui-btn-sm" lay-submit=""
                            lay-filter="setmypass" style="background: #da697d">确认充值
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="footer" th:replace="proscenium/public :: footer"></div>
<script src="/resource/layui/layui.js"></script>
<script>
    layui.use(['form', 'jquery', 'layer', 'element', 'upload'], function () {
        var form = layui.form;
        var $ = layui.jquery;
        var layer = layui.layer;
        var element = layui.element;
        var upload = layui.upload;
        form.verify({
            price: function (value) {
                if (!new RegExp("(^[1-9]\\d*(\\.\\d{1,2})?$)|(^0(\\.\\d{1,2})?$)").test(value)) {
                    return '格式不正确:整数或者保留两位小数';
                }
            },
            pass: [/^[\S]{5,12}$/, '密码必须6到12位，且不能出现空格']
        });
        //提交
        form.on('submit(setmypass)', function (data) {
            layer.open({
                type: 2,
                shadeClose: false, //点击遮罩关闭层
                title: "充值",
                area: ['30%', '60%'],
                content: "/walletPage.do?price=" + data.field.price + "&newPas=" + data.field.newPas,
            });
        });

    });

</script>

</body>
</html>