<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="/resource/layui/css/layui.css">
    <link rel="stylesheet" href="/resource/css/common.css">
    <link rel="stylesheet" href="/resource/layui/extend/dtree.css">
    <link rel="stylesheet" href="/resource/layui/extend/font/dtreefont.css">
    <!-- 图标 -->
    <link rel="stylesheet" href="/resource/remixicon/fonts/remixicon.css">
</head>
<style>
    .layui-form-label {
        width: 90px;
    }

    div.layui-input-inline {
        display: inline-block;
    }

    .layui-input-inline {
        position: relative;
    }

    .layui-input-inline > input {
        padding-left: 6px;
        padding-right: 24px;
    }

    .layui-input-inline > [class*="layui-icon-"] {
        padding: 0 3px;
        z-index: 999;
        position: absolute;
        top: 3px;
        bottom: 1px;
        right: 3px;
        line-height: 28px;
        display: inline-block;
        color: #909090;
        font-size: 16px;
    }
</style>
<body>
<div class="yadmin-body animated fadeIn">
    <form class="layui-form yadmin-search-area input">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label for="time" class="layui-form-label">日期</label>
                <div class="layui-input-inline">
                    <input type="text" name="time" autocomplete="off"
                           id="time" class="layui-input">
                    <i class="layui-icon layui-icon-date"></i>
                </div>
                <button lay-submit="" lay-filter="search" class="layui-btn layui-btn-sm layui-btn-primary table-action">
                    <i class="layui-icon layui-icon-search"></i>
                </button>
            </div>
        </div>
    </form>
    <table class="layui-hide" id="table-list"></table>
</div>


<script type="text/html" id="column-toolbar">
    <button type="button" class="layui-btn layui-btn-normal  layui-btn-xs" lay-event="edit">
        <i class="layui-icon layui-icon-dialogue" title="回复"></i>
        回复
    </button>
    <button type="button" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">
        <i class="layui-icon layui-icon-delete" title="删除"></i>
        删除
    </button>
</script>

<script src="/resource/js/jquery.js"></script>
<script src="/resource/layui/layui.js"></script>
<script src="/resource/js/common.js"></script>
<script th:inline="javascript">
    layui.config({
        base: '/resource/layui/extend/'
    }).use(['table', 'element', 'dtree', 'laydate', 'form', 'tablePlug'], function () {
        var table = layui.table;
        var $ = layui.$;
        var dtree = layui.dtree;
        var form = layui.form;
        var laydate = layui.laydate;
        var tablePlug = layui.tablePlug;
        tablePlug.smartReload.enable(true);
        //日期选择器
        laydate.render({
            elem: '#time'
            , theme: '#1E9FFF'
        });
        form.on('submit(search)', function (form) {
            table.reload('table-list', {
                where: form.field
            });
            return false;
        });
        table.render({
            elem: '#table-list',
            url: '/leave/leaveTable.do',
            cellMinWidth: 80,
            page: true,
            skin: 'nob',
            // toolbar: '#toolbar',
            smartReloadModel: true,
            cols: [
                [
                    {field: 'userName', title: '用户'},
                    {field: 'content', title: '内容'},
                    {field: 'time', title: '日期', width: 120,},
                    {title: '操作', fixed: 'right', align: 'center', width: 220, toolbar: '#column-toolbar'}
                ]
            ]
        });

        table.on('tool', function (obj) {
            var data = obj.data;
            var event = obj.event;
            if (event === 'del') {
                layer.confirm("确定删除吗?", {icon: 3, title: '提示'},
                    function (index) {// 确定回调
                        $.ajax({
                            url: "/leave/leave.do",
                            type: "post",
                            data: {_method: "DELETE", "id": data.id},
                            dataType: "json",
                            success: function (result) {
                                if (!result.status) {
                                    layer.msg(result.msg, {time: 2000});
                                    return false;
                                }
                                parent.layer.msg("删除成功", {icon: 6});
                                layui.table.reload('table-list');
                            }
                        });
                        layer.close(index);
                    }, function (index) {//取消回调
                        layer.close(index);
                    }
                );
            }
            else if (event === 'edit') {
                layer.open({
                    content: "/leave/replyPage.do?id=" + data.id,
                    title: "回复",
                    area: ['50%', '50%'],
                    type: 2,
                    maxmin: true,
                    shadeClose: true
                });
            }
        });
        //监听行双击事件
        table.on('rowDouble', function (obj) {
            console.log(obj.data) //得到当前行数据
            //弹出评价列表
            layer.open({
                content: "/leave/evaluate.do?leaveId=" + obj.data.id,
                title: "回复列表",
                area: ['60%', '80%'],
                type: 2,
                maxmin: true,
                shadeClose: true
            });
        });
    });
</script>

</body>
</html>