<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="/resource/layui/css/layui.css">
    <link rel="stylesheet" href="/resource/css/common.css">
    <link rel="stylesheet" href="/resource/layui/extend/dtree.css">
    <link rel="stylesheet" href="/resource/layui/extend/font/dtreefont.css">
    <!-- 图标 -->
    <link rel="stylesheet" href="/resource/remixicon/fonts/remixicon.css">
</head>
<style>
    .layui-form-label {
        width: 90px;
    }

    div.layui-input-inline {
        display: inline-block;
    }

    .layui-input-inline {
        position: relative;
    }

    .layui-input-inline > input {
        padding-left: 6px;
        padding-right: 24px;
    }

    .layui-input-inline > [class*="layui-icon-"] {
        padding: 0 3px;
        z-index: 999;
        position: absolute;
        top: 3px;
        bottom: 1px;
        right: 3px;
        line-height: 28px;
        display: inline-block;
        color: #909090;
        font-size: 16px;
    }
</style>
<body>
<div class="yadmin-body animated fadeIn">
    <table class="layui-hide" id="table-list"></table>
</div>
<div class="viewDiv" style="display: none"></div>

<script type="text/html" id="column-toolbar">
    {{#  if(d.state=='0'){ }}
    <button type="button" class="layui-btn layui-btn-normal layui-btn-xs" lay-event="agree">
        同意
    </button>
    <button type="button" class="layui-btn layui-btn-normal layui-btn-xs" lay-event="refuse">
        拒绝
    </button>
    {{#  } else { }}
    <button type="button" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">
        <i class="layui-icon layui-icon-delete" title="删除"></i>
        删除
    </button>
    {{#  } }}
</script>
<script type="text/html" id="stateTpl">
    {{#  if(d.state=='0'){ }}
    <button type="button" class="layui-btn  layui-btn-primary layui-btn-xs">
        待审核
    </button>
    {{#  } else if(d.state=='2') { }}
    <button type="button" class="layui-btn  layui-btn-danger layui-btn-xs">
        未同意
    </button>
    {{#  } else if(d.state=='1') { }}
    <button type="button" class="layui-btn  layui-btn-xs">
        已同意
    </button>
    {{#  } }}
</script>
<script type="text/html" id="urlTpl">
    <span style="cursor: pointer;color: #1E9FFF"><i class="layui-icon layui-icon-picture"></i>点击查看</span>
</script>
<script src="/resource/js/jquery.js"></script>
<script src="/resource/layui/layui.js"></script>
<script src="/resource/js/common.js"></script>

<script th:inline="javascript">
    layui.config({
        base: '/resource/layui/extend/'
    }).use(['table', 'element', 'dtree', 'laydate', 'form', 'tablePlug'], function () {
        var table = layui.table;
        var $ = layui.$;
        var dtree = layui.dtree;
        var form = layui.form;
        var laydate = layui.laydate;
        var tablePlug = layui.tablePlug;
        tablePlug.smartReload.enable(true);
        form.on('submit(search)', function (form) {
            table.reload('table-list', {
                where: form.field
            });
            return false;
        });
        //日期选择器
        laydate.render({
            elem: '#time'
            , theme: '#1E9FFF'
        });
        table.render({
            elem: '#table-list',
            url: '/order/refundTable.do',
            cellMinWidth: 80,
            page: true,
            skin: 'nob',
            toolbar: '#toolbar',
            smartReloadModel: true,
            cols: [
                [
                    {field: 'uuId', title: '编号', width: 160},
                    {field: 'productName', title: '车辆名称'},
                    {field: 'img', title: '图片', width: 120, align: 'center', templet: "#urlTpl", event: "upImg"},
                    {field: 'content', title: '归还说明', width: 170},
                    {field: 'time', title: '申请日期', width: 170},
                    {field: 'state', title: '状态', align: 'center', templet: "#stateTpl", width: 100},
                    {title: '操作', fixed: 'right', width: 220, align: 'center', toolbar: '#column-toolbar'}
                ]
            ]
        });

        table.on('tool', function (obj) {
            var data = obj.data;
            var event = obj.event;
            if (event === 'del') {
                layer.confirm("确定删除吗?", {icon: 3, title: '提示'},
                    function (index) {// 确定回调
                        $.ajax({
                            url: "/order/refund.do",
                            type: "post",
                            data: {_method: "DELETE", "id": data.id},
                            dataType: "json",
                            success: function (result) {
                                if (!result.status) {
                                    layer.msg(result.msg, {time: 2000});
                                    return false;
                                }
                                parent.layer.msg("删除成功", {icon: 6});
                                layui.table.reload('table-list');
                            }
                        });
                        layer.close(index);
                    }, function (index) {//取消回调
                        layer.close(index);
                    }
                );
            } else if (event === 'upImg') {
                var imgs = eval('(' + data.imgs + ')');
                console.log(imgs)
                var data = [];
                for (item in imgs) {
                    var obj = {};
                    obj.src = imgs[item];
                    data.push(obj);
                }
                console.log(data)
                layer.photos({
                    photos: {
                        "title": "查看大图", //相册标题
                        "start": 0, //初始显示的图片序号，默认0
                        "data": data
                    }
                    , anim: 2//0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
                });
            } else if (event === 'agree') {
                editStatus(data.id, '1', data.orderId)
            } else if (event === 'refuse') {
                editStatus(data.id, '2', data.orderId)
            }
        });

        //修改状态函数
        function editStatus(id, state, orderId) {
            $.ajax({
                url: "/order/refund.do",
                type: "put",
                data: {"id": id, 'state': state, "orderId": orderId},
                dataType: "json",
                success: function (result) {
                    if (!result.status) {
                        layer.msg(result.msg, {icon: 5});
                    }
                    layer.msg('操作成功!', {icon: 6});
                    layui.table.reload('table-list');
                }

            });
        }
    });
</script>

</body>
</html>