<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="/resource/layui/css/layui.css">
    <link rel="stylesheet" href="/resource/css/common.css">
    <link rel="stylesheet" href="/resource/layui/extend/dtree.css">
    <link rel="stylesheet" href="/resource/layui/extend/font/dtreefont.css">
    <!-- 图标 -->
    <link rel="stylesheet" href="/resource/remixicon/fonts/remixicon.css">
</head>
<style>
    .layui-form-label {
        width: 90px;
    }

    div.layui-input-inline {
        display: inline-block;
    }

    .layui-input-inline {
        position: relative;
    }

    .layui-input-inline > input {
        padding-left: 6px;
        padding-right: 24px;
    }

    .layui-input-inline > [class*="layui-icon-"] {
        padding: 0 3px;
        z-index: 999;
        position: absolute;
        top: 3px;
        bottom: 1px;
        right: 3px;
        line-height: 28px;
        display: inline-block;
        color: #909090;
        font-size: 16px;
    }
</style>
<body>
<div class="yadmin-body animated fadeIn">
    <form class="layui-form yadmin-search-area input">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label for="parentCategoryId" class="layui-form-label">车辆分类</label>
                <div class="layui-input-inline">
                    <select id="parentCategoryId" name="parentCategoryId" lay-filter="parentCategoryId">
                        <option></option>
                        <option th:each="category:${categoryList}" th:text="${category.name}"
                                th:value="${category.id}"></option>
                    </select>
                </div>
                <div class="layui-input-inline">
                    <select name="categoryId" id="categoryId"></select>
                </div>
                <label for="parentCategoryId" class="layui-form-label">车辆名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="name" autocomplete="off"
                           id="name" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <!--<label for="uuId" class="layui-form-label">车辆编号</label>-->
                <!--<div class="layui-input-inline">-->
                <!--<input type="text" name="uuId" autocomplete="off"-->
                <!--id="uuId" class="layui-input">-->
                <!--</div>-->

                <button lay-submit="" lay-filter="search" class="layui-btn layui-btn-sm layui-btn-primary table-action">
                    <i class="layui-icon layui-icon-search"></i>
                </button>
            </div>
        </div>
    </form>

    <table class="layui-hide" id="table-list"></table>
</div>
<div class="viewDiv" style="display: none"></div>

<script type="text/html" id="column-toolbar">

    <button type="button" class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">
        <i class="layui-icon layui-icon-add-1" title="编辑"></i>
        推荐
    </button>

</script>
<script type="text/html" id="stateTpl">
    <input type="checkbox" name="state" value="{{d.id}}" lay-skin="switch" lay-text="上架|下架" lay-filter="state" {{
           d.state== '1' ? 'checked' : '' }}>
</script>
<script type="text/html" id="urlTpl">
    <span style="cursor: pointer;color: #1E9FFF"><i class="layui-icon layui-icon-picture"></i>点击查看</span>
</script>
<script src="/resource/js/jquery.js"></script>
<script src="/resource/layui/layui.js"></script>
<script src="/resource/js/common.js"></script>

<script th:inline="javascript">
    var categoryList = [[${categoryList}]]
    layui.config({
        base: '/resource/layui/extend/'
    }).use(['table', 'element', 'dtree', 'laydate', 'form', 'tablePlug'], function () {
        var table = layui.table;
        var $ = layui.$;
        var dtree = layui.dtree;
        var form = layui.form;
        var laydate = layui.laydate;
        var tablePlug = layui.tablePlug;
        tablePlug.smartReload.enable(true);
        form.on('submit(search)', function (form) {
            table.reload('table-list', {
                where: form.field
            });
            return false;
        });

        table.render({
            elem: '#table-list',
            url: '/product/product.do',
            where: {"promotion": "0"},
            cellMinWidth: 80,
            page: true,
            skin: 'nob',
            toolbar: '#toolbar',
            smartReloadModel: true,
            cols: [
                [
                    {field: 'id', title: '车辆编号', width: 120},
                    {field: 'name', title: '车辆名称'},
                    {field: 'categoryId', title: '车辆类目'},
                    {field: 'specification', title: '规格参数'},
                    {field: 'img', title: '图片', width: 120, align: 'center', templet: "#urlTpl", event: "upImg"},
                    {field: 'disPrice', title: '租赁价格￥', width: 100},
                    {field: 'collectNum', title: '收藏数', width: 100},
                    {title: '操作', fixed: 'right', width: 220, align: 'center', toolbar: '#column-toolbar'}
                ]
            ]
        });

        table.on('tool', function (obj) {
            var data = obj.data;
            var event = obj.event;
            if (event === 'upImg') {
                layer.photos({
                    photos: {
                        "title": "查看大图", //相册标题
                        "start": 0, //初始显示的图片序号，默认0
                        "data": [   //相册包含的图片，数组格式
                            {
                                "src": data.img, //原图地址
                                "thumb": "" //缩略图地址
                            }
                        ]
                    }
                    , anim: 2//0-6的选择，指定弹出图片动画类型，默认随机（请注意，3.0之前的版本用shift参数）
                });
            } else if (event === 'edit') {
                $.ajax({
                    url: '/product/product.do',
                    type: 'put',
                    data: {'id': data.id, "promotion": '1'},
                    dataType: 'json',
                    async: false,
                    success: function (result) {
                        if (!result.status) {
                            parent.layer.msg(result.msg, {time: 2000});
                            return false;
                        } else {
                            layer.msg("操作成功!", {icon: 6});
                            parent.layui.table.reload('table-list', {});
                            layui.table.reload('table-list', {});
                        }
                    }
                });
            }
        });


        //监听下拉选择框
        form.on('select(parentCategoryId)', function (data) {
            console.log(data.value)
            console.log(categoryList)
            for (category in categoryList) {
                if (categoryList[category].id == data.value) {
                    var sonList = categoryList[category].children;
                    var htmlStr = "<option value=''></option>";
                    for (var i = 0; i < sonList.length; i++) {
                        htmlStr += "<option value='" + sonList[i].id + "'>" + sonList[i].name + "</option>"
                    }
                    $("select[name='categoryId']").html(htmlStr);
                    form.render()
                }
            }
        })

    });
</script>

</body>
</html>